<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logPath" source="logging.path" defaultValue="/home/logs"/>
    <property name="basePath" value="${logPath}"/>
    <springProperty scope="context" name="logName" source="logging.name" defaultValue="platform-dc-service"/>
    <property name="baseName" value="${logName}"/>
    <springProperty scope="context" name="logLevel" source="logging.level" defaultValue="INFO"/>
    <property name="baseLevel" value="${logLevel}"/>
    <springProperty scope="context" name="logAppender" source="logging.appender" defaultValue="FILE"/>
    <property name="baseAppender" value="${logAppender}"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%yellow(%thread)] %yellow(%-5level) %green(%logger{50} %line) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${basePath}/${baseName}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 日志最大的历史 30天 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%blue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%yellow(%thread)] %yellow(%-5level) %green(%logger{50} %line) - %msg %n</pattern>
        </encoder>
        <append>false</append>
        <prudent>false</prudent>
    </appender>

    <logger name="com.ztkj" level="${baseLevel}"/>

    <root level="${baseLevel}">
        <appender-ref ref="${baseAppender}"></appender-ref>
    </root>

</configuration>